<div class="searchContainer ph-stickySearch">
    <div class="searchContainerInner container">
        <ul class="searchParent">
            <li class="first parentLI">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="City, MLS#, Zip">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="parentLI">
                <a ng-click="showCurrentSelection = 1" href="#">
                    Listing Type <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <!-- Child Menu -->
                <ul ng-show="showCurrentSelection === 1" class="searchChild">
                    <li class="childLI" ng-repeat="lType in lTypes track by $index">
                        <input
                            type="checkbox"
                            ng-model="lType.selected"
                            value="lType.name"
                            ng-click="typeSave()"
                            id="lType{{ $index }}"/>
                        <label  for="lType{{ $index }}">{{ lType.name }}</label>


                    </li>
                </ul>
            </li>
            <li class="parentLI">
                <a ng-click="showCurrentSelection = 2" href="#">
                    ${{ priceMinValueSmall }}k-$500k <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <!-- Child Menu -->
                <div ng-show="showCurrentSelection === 2" class="priceChild divChild">
                    <div class="priceContainer">
                        <div class="priceMin pm"><input ng-value="priceMinValue" class="form-control priceInputMin" type="text" /></div><div class="priceDash mm"><i class="fa fa-minus" aria-hidden="true"></i></div>
                        <div class="priceMax pm"><input ng-value="priceMaxValue" class="form-control priceInputMax" type="text" /></div>
                    </div>
                </div>
            </li>
            <li class="parentLI">
                <a ng-click="showCurrentSelection = 3" href="#">
                    0+ Beds <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
				<ul ng-show="showCurrentSelection === 3" class="searchChild">

					<a ng-click="beddingSave('Beds',1)" href="#"><li data-value="0" class="childLI ng-scope" >1+</li></a>
					<a ng-click="beddingSave('Beds',2)" href="#"><li data-value="2" class="childLI ng-scope" >2+</li></a>
					<a ng-click="beddingSave('Beds',3)" href="#"><li data-value="3" class="childLI ng-scope" >3+</li></a>
					<a ng-click="beddingSave('Beds',4)" href="#"><li data-value="4" class="childLI ng-scope" >4+</li></a>
					<a ng-click="beddingSave('Beds',5)" href="#"><li data-value="5" class="childLI ng-scope" >5+</li></a>
					<a ng-click="beddingSave('Beds',6)" href="#"><li data-value="6" class="childLI ng-scope" >6+</li></a>
                </ul>
			</li>
            <li class="parentLI"> 
                <a ng-click="showCurrentSelection = 4" href="#">
                    0+ Baths <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
				<ul ng-show="showCurrentSelection === 4" class="searchChild">

					<a ng-click="beddingSave('Baths',1)" href="#"><li data-value="0" class="childLI ng-scope" >1+</li></a>
					<a ng-click="beddingSave('Baths',1.5)" href="#"><li data-value="2" class="childLI ng-scope" >1.5+</li></a>
					<a ng-click="beddingSave('Baths',2)" href="#"><li data-value="3" class="childLI ng-scope" >2+</li></a>
					<a ng-click="beddingSave('Baths',2.5)" href="#"><li data-value="4" class="childLI ng-scope" >2.5+</li></a>
					<a ng-click="beddingSave('Baths',3)" href="#"><li data-value="5" class="childLI ng-scope" >3+</li></a>
					<a ng-click="beddingSave('Baths',3.5)" href="#"><li data-value="6" class="childLI ng-scope" >3.5+</li></a>
                </ul>
			</li>
            <li class="parentLI">
                <a ng-click="showCurrentSelection = 5" href="#">
                    Listing City <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <!-- Child Menu -->
                <ul ng-show="showCurrentSelection === 5" class="searchChild">
                    <li class="childLI" ng-repeat="city in cities track by $index">
                        <input
                            type="checkbox"
                            ng-model="city.selected"
                            value="city.name"
                            ng-click="typeSave()"
                            id="city{{ $index }}"/>
                        <label  for="city{{ $index }}">{{ city.name }}</label>


                    </li>
                </ul>
            </li>
        </ul>
    <!--<form>-->
        <!--<label>Beds</label>-->
        <!--<input class="form-control form-text" type="textarea" ng-change="retsFormChange()" ng-model="form.L_Keyword2"/>-->
    <!--</form>-->
    </div>
</div>