body {
  color: #333;
  -webkit-font-smoothing: subpixel-antialiased; }

.main-container {
  padding: 0px; }

#navigation {
  background: #F7F7F7; }

#block-block-3 {
  padding: 5px 0; }

.topSocialMedia {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  float: right; }
  .topSocialMedia ul {
    list-style: none; }
    .topSocialMedia ul li {
      float: left;
      padding-right: 13px; }
      .topSocialMedia ul li i {
        color: #B7B7B7;
        font-size: 20px;
        margin-right: 3px;
        transition: all 0.3s ease; }
      .topSocialMedia ul li a {
        color: #B7B7B7; }
      .topSocialMedia ul li i:hover {
        text-decoration: none;
        color: #AC1F2D; }

.topLinks {
  float: left;
  font-size: 18px; }
  .topLinks ul {
    list-style: none; }
    .topLinks ul li {
      padding-right: 40px;
      float: left; }
      .topLinks ul li i {
        color: #B7B7B7; }
      .topLinks ul li a {
        color: #000;
        transition: all 0.3s ease; }
      .topLinks ul li a:hover {
        text-decoration: none;
        color: #AC1F2D; }
