$bg: #f4f4f4;

body {
  color: #333;
  font-family: Ubuntu, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

h2 {
  font-family: Ubuntu, sans-serif;
  font-size: 32px;
  color: #444;
  font-weight: bold;
}

.main-container {
  padding: 0px;
}

#navigation {
  background: #F7F7F7;
}

#block-block-3 {
  padding: 5px 15px;
}

.topSocialMedia {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  float: right;
  ul {
    list-style: none;
    li {
      float: left;
      padding-right: 13px;

      i {
        color: #B7B7B7;
        font-size: 20px;
        margin-right: 3px;
        transition: all 0.3s ease;
      }
      a {
        color: #B7B7B7;
      }
      i:hover {
        text-decoration: none;
        color: #AC1F2D;
      }
    }
  }
}

.topLinks {
  float: left;
  font-size: 18px;
  ul {
    padding: 0;
    list-style: none;
    li {
      padding-right: 40px;
      float: left;
      i {
        color: #B7B7B7;
      }
      a {
        color: #000;
        transition: all 0.2s ease;
      }
      a:hover {
        text-decoration: none;
        color: #AC1F2D;
      }
    }
  }
}

#page-header {
  padding: 0;
  position: relative;
  video {
    position: absolute;
    left: 0;
    top: -175px;
    z-index: -100;
    width: 100%;
  }
}

.headerContainer {
  padding: 0;
  position: relative;
  z-index: 5;
  background: rgba(0, 0, 0, .8);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
}

.logo {
  position: relative;
  z-index: 10;
  img {
    max-width: 130px;
  }
}

#block-superfish-1 {
  margin-top: 37px;
  h2.block-title {
    display: none;
  }
  ul#superfish-1 {
    padding-top: 5px;
    float: left;
    height: 100%;
    li.sf-depth-1 {
      padding: 10px;
      font-family: "Ubuntu", sans-serif;
      font-size: 18px;
      a {
        color: white;
        transition: all 0.3s ease;
      }
      a:hover {
        color: #AC1F2D;
        text-decoration: none;
      }
      ul {
        background: rgba(0, 0, 0, .8);
        margin-top: 23px;
        border-radius: 0;
        li {
          padding: 10px;
        }
      }
    }
  }
}

.not-front video {
  display: none;
}

section h1.page-header {
  display: none;
}

.sticky {
  position: fixed !important;
  top: 0;
  z-index: 100;
  width: 100%;
}

.sticky .headerContainer {
  background: #333 !important;
}

.stickySearch {
  position: fixed !important;
  top: 110px;
  width: 100%;
  z-index: 100;
  background: #fff;
}

.page-home-search {
  .ph-sticky {
    position: fixed !important;
    top: 0;
    z-index: 100;
    width: 100%;
  }

  .ph-sticky .headerContainer {
    background: #333 !important;
  }

  .ph-stickySearch {
    position: fixed !important;
    top: 110px;
    width: 100%;
    z-index: 100;
    background: #fff;
  }
  section {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  nav {
    display: none;
  }
  .searchContainer {
    float: left;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
    ul {
      list-style: none;
      li {
        float: left;
      }
    }
  }

  #real_angular {
    height: 100%;
    width: 100%;
  }

  .gmap {

  }
  .angular-google-map-container {
    position: fixed !important;
    top: 170px;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .angular-google-map-container, .angular-google-map, .gmap {

  }

  .searchMapContainer {
    //float: left;
    //width: 100%;
    height: calc(100vh - 170px);
    position: relative;
    overflow: hidden;
  }
  .searchListingsContainer {
    float: right;
    width: 645px;
    margin-top: 170px;
    //overflow: scroll;

  }

  .mlsResultRow {
    padding: 0;
  }

  .listingRows {
    padding: 0 0 3px 0;
  }
  //.listingRows:nth-child(4n) {
  //	.mlsResultRow {
  //		padding-right: 0;
  //	}
  //}

  .mlsResultRowInner {
  }
  .listingResultsAgentContainer {
    padding: 10px;
  }
.page-listings {
	.emailDrawerLogo {
		img {
			margin-right: 20px;
		}
	}
}
.listingContainer {
  font-family: Ubuntu, sans-serif;
  color: #fff;
  font-size: 13px;
  position: relative;
  height: 170px;
  .listingStyles {
    position: absolute;
    z-index: 20;
  }
  img {
 //   position: absolute;
//    top: 0;
//    bottom: 0;
//    left: 0;
//    right: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
  .imageCount {
    top: 5px;
    left: 5px;
  }
  .floats {
    float: left;
  }
  .propertyType {
    top: 89px;
    left: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .priceLineItems {
    top: 107px;
    left: 20px;
    .mini {
      margin-top: 15px;
    }
  }
  .askingPrice {
    font-size: 28px;
    padding-right: 10px;
  }
  .addressContainer {
    top: inherit;
    bottom: 6px;
    left: 20px;
  }
  .state, .city {
    padding-left: 5px;
  }
  .listingBackdrop {
    background: rgba(0, 0, 0, .3);
    height: 170px;
    width: 320px;
    transition: all 0.3s ease;
  }
  a:hover .listingBackdrop {
    background: none;
  }
}

.selected .listingBackdrop {
  background: none;
}

.searchContainer {
  padding-top: 13px;
  background: #f4f4f4;
  background: -moz-linear-gradient(top, #f4f4f4 0%, #e5e5e5 100%);
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #f4f4f4 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e5e5e5', GradientType=0);

  .input-group {
    width: 200px;
  }
  .searchContainerInner {
    //padding: 0;
  }
  ul.searchParent {
    //padding:0 0 0 15px;
    padding: 0;
    li.parentLI {
      font-family: Ubuntu, sans-serif;
      font-size: 15px;
      padding: 8px 17px;
      position: relative;
      ul.searchChild {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
        position: absolute;
        left: 0;
        top: 48px;
        padding: 10px 0;
        background: #fff;
        white-space: nowrap;
        li.childLI {
          float: none;
          padding: 11px 15px 0;
          label {
            font-weight: normal;
          }
          // Custom Checkbox Styles
          [type="checkbox"]:not(:checked),
          [type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
          }
          [type="checkbox"]:not(:checked) + label,
          [type="checkbox"]:checked + label {
            position: relative;
            padding-left: 25px;
            cursor: pointer;
          }
          [type="checkbox"]:not(:checked) + label:before,
          [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            width: 17px;
            height: 17px;
            border: 1px solid #aaa;
            background: #f8f8f8;
            border-radius: 3px;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
          }
          [type="checkbox"]:not(:checked) + label:after,
          [type="checkbox"]:checked + label:after {
            content: '✔';
            position: absolute;
            top: 3px;
            left: 4px;
            font-size: 18px;
            line-height: 0.8;
            color: #09ad7e;
            transition: all .2s;
          }
          [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
          }
          [type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
          }
          [type="checkbox"]:disabled:not(:checked) + label:before,
          [type="checkbox"]:disabled:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
          }
          [type="checkbox"]:disabled:checked + label:after {
            color: #999;
          }
          [type="checkbox"]:disabled + label {
            color: #aaa;
          }
          [type="checkbox"]:checked:focus + label:before,
          [type="checkbox"]:not(:checked):focus + label:before {
            border: 1px dotted blue;
          }
          label:hover:before {
            border: 1px solid #4778d9 !important;
          }
        }
      }
      .priceChild {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
        position: absolute;
        left: 0;
        top: 48px;
        padding: 10px 0;
        background: #fff;
        position: absolute;
        width: 250px;
        .priceContainer {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          float: left;
        }
        .mm {
          float: left;
          width: 40px;
          text-align: center;
          padding-top: 3px;
        }
        .pm {
          float: left;
          width: 80px;
          input {
            width: 100%;
          }
          //input.priceInputMin:after {
          //	content: " - "
          //}
        }
      }
    }
    li.parentLI a:hover {
      color: #882719;
      text-decoration: none;
    }
    li.parentLI a {
      display: block;
      color: #000;
      text-decoration: none;
      transition: all 0.3s ease;
    }
    li.parentLI:not(.first):after {
      content: "";
      border-right: 1px solid #fff;
      height: 60px;
      display: block;
      position: absolute;
      right: 0px;
      bottom: -10px;
    }
    li.parentLI.first {
      padding: 1px 17px 1px 0;
    }
    li.parentLI.first:after {
      content: '';
      border-right: 1px solid #fff;
      height: 60px;
      display: block;
      position: relative;
      right: -17px;
      bottom: 48px;
    }
  }
}

.front {
  .slick-track {
    .listingContainer {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 222px;
      width: 444px;
      .listingBackdrop {
        height: 100%;
        width: 100%;
      }
      .priceLineItems {
        top: 145px;
      }
      .propertyType {
        top: 125px;
      }
    }
  }
  .slick--skin--fullwidth .slide__constrained {
    min-height: inherit;
  }
  .slide__constrained {
    left: 0;
    margin-left: inherit;
    top: 0;
    width: 100%;
  }
}

section.preface {
  section#block-block-4 {
    position: relative;
  }
  .video-content {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: white;
    display: block;
    .video-content-inner {
      position: relative;
      top: 40%;
      transform: translateY(-80%);
    }
    .home-search {
      margin-top: 40px;
    }
    h1 {
      font-size: 3.5vw;
    }
    h3 {
      font-size: 2.8vw;
    }
    input.form-control {
      width: 80%;
      height: 42px;
    }
    button.search-icon {
      //bottom: 17px;
      left: 1px;
      height: 42px;
      color: #a3a3a3;
    }
    button.search-icon:hover {
      background: white;
      border-color: #ccc;
    }
    button.search-btn {
      border-radius: 0;
      border-left: none;
      background: #882719;
      color: white;
      transition: all 0.2s ease;
      font-family: "Ubuntu", sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-top: 0px;
      float: left;
      height: 42px;
      border: none;
    }
    button.search-btn:hover {
      background: #AC1F2D;
    }

  }
  .fullscreen-bg__video {
    position: absolute;
    z-index: -100;
  }
}

section#content-section {
  padding: 0;
  section#block-real-blocks-least-expensive,
  section#block-real-blocks-newest,
  section#block-real-blocks-most-expensive,
  section#block-real-blocks-updated,
  section#block-block-5,
  section#block-block-4 {
    color: white;
  }
  section#block-system-main {
    padding: 15px;
  }
  section#block-block-5 {
    font-family: Ubuntu, sans-serif;
    font-size: 17px;
    background: rgba(0, 0, 0, .8);
    .advantages-container {
      .advantages-container-inner {
        .advantages-reasons-box {
          margin-bottom: 20px;
          .advantages-icon {
            float: left;
            margin-top: 16px;
            background: #AC1F2D;
            border-radius: 50%;
            height: 110px;
            width: 110px;
            margin-right: 20px;
            i {
              font-size: 70px;
              width: 100%;
              text-align: center;
              padding-top: 20px;
            }
          }
          .advantages-text {
            float: left;
            width: 80%;
            h3 {
              font-size: 28px;
            }
          }
        }
        .advantages-reasons-box:nth-child(3) {
          clear: both;
        }
      }
      h2 {
        margin-left: 15px;
        font-size: 40px;
        color: white;
      }
    }
  }
  section#block-views-featured-agents-home-page-block {
    h2.block-title {
      font-family: Ubuntu, sans-serif;
      font-size: 32px;
      color: #444;
      margin: 30px 0 30px 15px;
    }
    img {
      display: inherit;
    }
    .views-field-field-name {
      a {
        color: #888;
        font-size: 30px;
        font-weight: bold;
      }
      a:hover {
        color: #888;
        text-decoration: none;
      }
    }
    .views-field-field-phone {
      font-size: 20px;
      color: #888;
      i {
        margin-right: 10px;
        font-size: 24px;
      }
    }
    .views-field-field-email {
      font-size: 20px;
      color: #888;
      i {
        margin-right: 10px;
        font-size: 20px;
      }
      a {
        color: #888;
      }
      a:hover {
        color: #888;
        text-decoration: none;
      }
    }
    .views-field-field-facebook {
      i {
        margin-right: 10px;
        font-size: 20px;
      }
      a {
        color: #888;
      }
      a:hover {
        text-decoration: none;
        color: #AC1F2D;
      }
    }
    .views-field-field-bio {
      font-family: Arial;
    }
  }
  a.views-more-link {
    background: #882719;
    color: white;
    padding: 10px;
    float: right;
    margin: 15px 22px 0 0;
    transition: all 0.3s ease;
  }
  a.views-more-link:hover {
    text-decoration: none;
    background: #AC1F2D;
  }
}

.block-real-blocks {
  .block-title {
    display: none;
  }
}

section.home_block_slider {
  h2 {
    font-family: Ubuntu, sans-serif;
    font-size: 32px;
    color: #444;
    text-align: center;
    font-weight: bold;
  }
  .title-sub {
    font-family: Ubuntu, sans-serif;
    font-size: 15px;
    color: #999;
    text-align: center;
    margin-bottom: 20px;
  }
  .button-area {
    width: 100%;
    text-align: center;
    button.see-more {
      margin-top: 20px;
      margin-bottom: 40px;
      background-color: #AC1F2D;
      border: none;
      padding: 14px;
      font-family: Ubuntu, sans-serif;
      font-size: 18px;
      border-radius: 7px;
      transition: all 0.3s ease;
    }
    button.see-more:hover {
      background-color: #BE212F;
    }
  }
  .slick {
    padding: 0 15px;
  }
}

.listingContainer {
  font-family: Arial;
  color: #333;
  font-size: 15px;

  .listingContainerInner {
    .listingHeaderContainer {
      border: 1px solid #caced2;
      border-radius: 5px;
      background-color: $bg;
      padding-bottom: 25px;

      .listingHeaderContainerInner {
        padding: 25px;

        .top {
          margin-bottom: 20px;
          h3 {
            margin: 0;
            font-size: 1.75em;
            color: #555;
          }
        }
        .middle {
          display: inline-block;
          padding-left: 0;

          .listPrice {
            font-size: 1.4em;
          }

          .forSale {
            float: left;
            padding-right: 70px;
            color: green;
            background: url('/sites/default/files/dot.png') repeat-y;
            background-position: 125px 0;

            i {
              font-size: 36px;
              margin-left: 19px;
            }
          }

          .row {

          }
        }
      }
    }
    .listingContentContainer {
      margin-top: 20px;
      float: left;
      width: 100%;
      clear: both;

      .listingContentContainerInner {
        .listingLeftContentContainer {
          padding-left: 0;
          padding-right: 0;
          .listingLeftContentContainerInner {
            border: 1px solid #caced2;
            border-radius: 5px;
            background: $bg;
            padding: 20px;
            float: left;
            width: 100%;

            .imageMapsContainer {
              .imageMapContainerInner {
                .imageMapTabs {
                  ul {
                    float: left;
                    list-style: inside none none;
                    padding-left: 0;

                    li {
                      border-top: 1px solid #caced2;
                      border-bottom: 1px solid #caced2;
                      border-right: 1px solid #caced2;
                      float: left;
                      padding: 10px;
                      cursor: pointer;
                      transition: .5s;

                    }
                    li:hover, .tabButtonActive {
                      background: #f3e1e1;

                    }
                    li:first-of-type {
                      border-radius: 5px 0 0 5px;
                      border-left: 1px solid #caced2;
                    }
                    li:last-of-type {
                      border-radius: 0 5px 5px 0;
                      border-right: 1px solid #caced2;
                    }
                  }
                }
                .imageMapTabs {

                }
                .tabbedContent {
                  clear: both;
                  width: 100%;
                  overflow: hidden;

                }
                .mapImages {
                  position: relative;
                }
                .mapStreet {
                  position: relative;
                  display: none;
                }
                .mapMap {
                  position: relative;
                  display: none;
                }
                .mapSatellite {
                  position: relative;
                  display: none;
                }
              }
            }
          }
          .description {
            margin-bottom: 20px;
          }
          .contentLeft {
            padding-left: 0;
            ul {
              margin: 0;
              list-style: none;
              padding: 0;

              li {
                label {
                  display: inline-block;
                  margin-right: 15px;

                }
              }
            }
          }
          .contentRight {
            ul {
              margin: 0;
              padding: 0;
              list-style: none;
              li {
                label {
                  display: inline-block;
                  margin-right: 15px;

                }
              }
            }
          }
          h2.moreInfoBlock {
            clear: both;
            color: #555;
            float: left;
            font-size: 23px;
            margin: 19px 0 -12px;
            width: 100%;
          }
          .moreInformationBlock {
            clear: both;
            float: left;
            width: 100%;
            margin-top: 20px;
            border: 1px solid #caced2;
            background: #fff;
            padding: 15px;
            border-radius: 5px;

            form {
              .webform-component-markup {
                .moreInfoContainer {
                  .moreInfoContainerInner {
                    .moreInfoLeft {
                      float: left;
                      width: 30%;
                    }
                    .moreInfoRight {
                      float: left;
                      width: 65%;
                      padding-left: 10px;
                    }
                  }
                }
              }
              .webform-component--first-name {
                float: left;
                width: 49%;
                margin-top: 15px;
              }
              .webform-component--last-name {
                float: right;
                width: 49%;
                margin-top: 15px;
              }
              .webform-component--email-address {
                clear: both;
              }
              .webform-component-textarea {
                clear: both;
                position: relative;
                top: 10px;
              }
            }
          }
          .listingDetailsContainer {
            clear: both;
            float: left;
            width: 100%;
            margin-top: 20px;

            .listingDetailsContainerInner {
              .listingDetailsTabs {
                ul {
                  float: left;
                  list-style: inside none none;
                  padding-left: 0;

                  li {
                    border-top: 1px solid #caced2;
                    border-bottom: 1px solid #caced2;
                    border-right: 1px solid #caced2;
                    float: left;
                    padding: 10px;
                    cursor: pointer;
                    transition: .5s;

                  }
                  li:hover, .tabButtonActive1 {
                    background: #f3e1e1;

                  }
                  li:first-of-type {
                    border-radius: 5px 0 0 5px;
                    border-left: 1px solid #caced2;
                  }
                  li:last-of-type {
                    border-radius: 0 5px 5px 0;
                    border-right: 1px solid #caced2;
                  }
                }
              }
              .tabbedContent {
                clear: both;
                width: 100%;
                overflow: hidden;

              }
              .listingTabContent {
                dl {
                  clear: both;
                  margin: 5px 0;
                  float: left;
                  width: 100%;

                  dt {
                    float: left;
                    width: 25%;
                    padding-right: 5%;
                    font-weight: bold;
                  }
                  dd {
                    float: left;
                    width: 70%;
                    margin: 0;

                  }
                }
              }
              .tabInteriorInfo {
                position: relative;
              }
              .tabExteriorInfo {
                position: relative;
                display: none;
              }
              .tabMoreInfoInfo {
                position: relative;
                display: none;
              }
              .tabTaxesInfo {
                position: relative;
                display: none;
              }
              .tabUtilitiesInfo {
                position: relative;
                display: none;
              }
              .tabSchoolInfo {
                position: relative;
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

section#block-system-main {
  #first-time {
    display: none;
  }
}

.page-home-search .emailSlideContainer {
  display: none;
}

.emailSlideContainer {
  position: fixed;
  bottom: -503px;
  right: 17px;
  transition: all 0.3s ease;
  .emailSlideContainerInner {
    .emailSlideTab {
      background: #882719;
      color: white;
      font-size: 20px;
      font-weight: bold;
      padding: 10px;
      border-radius: 13px 13px 0 0;
      cursor: pointer;
      width: 170px;
      i {
        transition: all 0.3s ease;
      }
    }
    .emailSlideForm {
      width: 250px;
      padding: 10px;
      background: white;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      textarea {
        font-size: 12px;
      }
      .form-group {
        margin-bottom: 6px;
      }
      label.control-label {
        font-size: 12px;
      }
    }

    .emailDrawerLogo {
      img {
        width: 115px;
        padding-right: 8px;
        position: relative;
        top: 5px;
      }
      .form-control {
        height: 20px;
        padding: 2px 12px;
        font-size: 12px;
      }
    }
    .emailDrawerContainer {
      h3 {
        font-size: 20px;
        margin-top: -3px;
      }
    }
    .webform-submit {
      background: #882719;
      border-color: #4c1810;
    }
    .btn-primary:hover {
      background: #BE212F;
    }
  }
}

.email-sliding {
  bottom: 0;
}

.listingByContainer {
  margin: 30px 0 -20px 0;
  padding-left: 0;
  .provided-by {
    font-weight: bold;
  }
}

footer {
  background: rgba(0, 0, 0, .8);
  color: white;
  padding: 20px 0;
  margin-top: 40px;
  h3 {
    font-size: 20px;
  }
  p {
    font-weight: normal;
    font-size: 13px;
    font-family: Arial;
  }
  #block-block-9, #block-block-8 {
    i {
      color: #b5b5b5;
      font-size: 20px;
    }
  }
  a {
    color: #fff;
    transition: all 0.3s ease;
  }
  a:hover {
    text-decoration: none;
    color: #BE212F;
  }
}

article.node-homesinboise-team {
  .field-name-field-name {
    font-size: 30px;
    margin: 10px 0 20px;
  }
  .group-left {
    h3 {
      display: none;
    }
    float: left;
  }
  hr {
    background: #bbb;
    height: 1px;
    width: 75%;
    margin: 25px 0;
  }
  .field-name-field-facebook {
    i {
      margin-right: 10px;
      font-size: 24px;
    }
    a {
      color: #888;
    }
    a:hover {
      text-decoration: none;
      color: #AC1F2D;
    }
  }
  .field-name-field-phone {
    color: #888;
    font-size: 12px;
    margin-top: 10px;
    .field-item:before {
      content: "C ";
    }
  }
  .field-name-field-email {
    a {
      color: #888;
      font-size: 12px;
    }
    a:hover {
      color: #AC1F2D;
    }
  }
}

.map-markers {
  .row {
    margin-left: 0;
  }
  .col-md-2 {
    padding-left: 0;
  }
  a {
    color: #888;
    font-family: Ubuntu, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    .popup-address {
      font-size: 15px;
      padding-bottom: 10px;
    }
    .popup-type {
      font-size: 20px;
      font-weight: bold;
    }
  }
  a:hover {
    text-decoration: none;
    color: #888;
  }
}

.listingRowsContainer {
  clear: both;
}

.listingResultsAgentContainer {
  color: #888;
  float: left;
  width: 100%;
  font-family: Ubuntu, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  margin-bottom: 10px;
  font-size: 17px;
  .agentPicture {
    img {
      max-width: 75px;
      float: left;
      margin-right: 10px;
    }
  }
  h3 {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 21px;
  }
  a {
    color: #AC1F2D;
  }
  a:hover {
    color: #AC1F2D;
  }
}
section#block-block-12 {clear:both;
  text-align: left;
}
section#block-block-12 img {
  padding-right:20px;
  max-height: 50px;
<<<<<<< HEAD
}
=======
}
>>>>>>> abe6b1709b4b053055db5a02a5af5fe3e1597aeb
